@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Mr+Bedfort|Niconne|Roboto+Slab|PT+Sans);

.wf-loading * {
    opacity: 0;
}
.wf-loading {
	background: url('https://cdn.tutsplus.com/webdesign/uploads/legacy/tuts/369_font_loader/ajax-loader.gif') no-repeat center center;
    height: 100%;
    overflow: hidden;        
}
.wf-active *, .wf-inactive * {
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	opacity: 1;
}

@media print {
	a[href]:after {
		content: " (" attr(href) ") ";
	}
}

* {
	zoom: 1;
	padding: 0;
	margin: 0;
	font-family: "PT Sans", "Segoe UI", Verdana, sans-serif;
	font-size: 18px;
	color: rgba(0,0,0,1.00);
	box-sizing: border-box;
	vertical-align: middle;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
*:focus
{
    outline: none;
}
a {
	text-decoration: none;
	color: rgba(0,124,176,1.00);
}
a:visited:before {
	content:  "\2713 ";
}
img {
	border: 0;
}
body {
	background-image: url(../images/MSN_BG.png);
	background-position: 100% 0%;
	background-repeat: no-repeat;
	background-size: 175vh;
	background-size: 85vw;
}
header {
	height: 150px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1000;
	width: 100%;
	text-align: left;
}
#Brand {
	margin-left: 150px;
	margin-top: 17px;
	text-align: center;
	display: inline-block;
}
#Name {
	font-family: 'Mr Bedfort', cursive;
	font-size: 50px;
	color: rgba(255,79,0,1.00);
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	margin-top: 10px;
}
#Name:focus, #Name:hover {
}
#Motto {
	color: rgba(200,131,0,1.00);
	font-family: Niconne, cursive;
	font-size: 20px;
	display: inline-block;
	position: relative;
	top: -10px;
}
#Logo {
	margin-top: 12px;
	margin-right: 12px;
	margin-bottom: 5px;
	margin-left: 12px;
	top: 0px;
	left: 0px;
	-webkit-perspective: 300px;
	-ms-perspective: 300px;
	perspective: 300px;
	-ms-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	float: left;
	position: absolute;
	display: inline-block;
}
#Logo:focus, #Logo:hover {
	border-radius: 67px;
	border-radius: 50%;
	-webkit-box-shadow: 1px 1px 2px 2px rgba(74,74,74,1.00);
	box-shadow: 1px 1px 2px 2px rgba(74,74,74,1.00);
}
#NavBar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	float: right;
	z-index: 501;
	position: absolute;
	right: 75px;
	top: 57px;
	-webkit-box-shadow: 2px 2px 10px 3px rgba(179,111,13,0.35),0 -9px 0px 0px transparent,12px 0 15px -4px rgba(0, 0, 0, 0.4),-12px 0 15px -4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 9px 0px 0px transparent,0 -9px 0px 0px transparent,12px 0 15px -4px rgba(0, 0, 0, 0.4),-12px 0 15px -4px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 9px 0px 0px transparent,0 -9px 0px 0px transparent,12px 0 15px -4px rgba(0, 0, 0, 0.4),-12px 0 15px -4px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 10px 3px rgba(179,111,13,0.35),0 -9px 0px 0px transparent,12px 0 15px -4px rgba(0, 0, 0, 0.4),-12px 0 15px -4px rgba(0, 0, 0, 0.4);
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: rgba(143,89,11,1.00);
}
#NavBar ul {
	text-align: center;
	list-style-type: none;
}
#NavBar ul li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto Slab', Arial, sans-serif;
	font-size: 22px;
	font-variant: normal;
	padding-right: 10px;
	padding-left: 10px;
	display: inline-block;
	background-color: rgba(143,89,11,1.00);
	color: rgba(255,255,255,0.80);
}
#NavBar ul li:hover, #NavBar ul li:focus {
	background-color: rgba(0,0,0,0.25);
	color: rgba(255,255,255,1.00);
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
}
.tooltip:hover:after,.tooltip:focus:after {
	background: #111;
	background-color: rgba(0,0,0,0.70);
	color: #FFF;
	color: white;
	display: block;
	position: absolute;
	text-shadow: 0 1px 0 #000000;
	white-space: nowrap;
	z-index: 505;
	content: attr(data-href);
	clear: both;
	padding-left: 5px;
	padding-right: 5px;
	top: 55px;
	font-size: 14px;
	right: 0px;
	font-weight: normal;
	text-align: center;
}
#ScrollableContent {
	padding-left: 75px;
	padding-right: 75px;
}
#PageContent {
	margin: 0 auto;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	text-align: left;
}
.contenttitle {
	font-size: 26px;
	color: rgba(59,76,96,1.00);
	margin-top: 45px;
	margin-bottom: 150px;
	margin-right: 33vw;
	text-align: center;
}
.contenttitle h1 {
	color: inherit;
	font-family: inherit;
	font-weight: bold;
	font-size: 32px;
}
.contenttitle h2 {
	font: inherit;
	font-size: 20px;
}
footer {
	margin: 2px;
	margin-top: 150px;
	color: rgba(0,0,0,1.00);
	padding: 30px;
	padding-top: 2px;
	border-top: 1px solid rgba(143,89,11,.25);
}
footer section {
	border-top: 1px solid rgba(255,79,0,0.5);
	min-height: 150px;
}
.actionableitems {
	text-align: center;
	margin-bottom: 25px;
}
.actionableitems p {
	padding: 25px;
}
.actionableitems a {
	display: inline-block;
	border: 1px solid rgba(143,89,11,1.00);
	border-radius: 6px 6px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 5px;
	font-family: 'Roboto Slab', Arial, sans-serif;
	font-size: 20px;
	text-align: center;
	color: rgba(143,89,11,1.00);
	min-width: 170px;
	width: 30%;
}
.actionableitems a:hover, .actionableitems a:focus {
	background-color: rgba(143,89,11,1.00);
	color: rgba(255,255,255,1.00);
}
#LinkForms {
	text-align: center;
}
#LinkForms nav {
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-right: 20px;
}
#LinkForms ul {
	display: inline-block;
	min-width: 80px;
	list-style-type: none;
	vertical-align: top;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: left;
	margin-left: 25px;
	margin-right: 25px;
}
#LinkForms nav ul h2 {
	text-transform: uppercase;
}
#LinkForms ul li {
	color: rgba(143,89,11,1.00);
	margin-left: 10px;
}
#LinkForms ul li:focus, #LinkForms ul li:hover {
	color: rgba(0,0,0,1.00);
	background-color: rgba(238,246,9,0.7);
}
#FrmSubscribe {
	display: inline-block;
}
#Social {
	display: inline-block;
	vertical-align: top;
	border-left: 1px solid rgba(255,79,0,0.5);
}
#Social ul {
	margin-left: 50px;
}
#Social h2 {
	margin-bottom: 20px;
}
#Social ul li {
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
}
#Disclaimer {
	min-height: 55px;
	height: 60px;
	max-height: 65px;
	padding-left: 45px;
	margin-top: 15px;
	padding-top: 10px;
}
#Disclaimer div {
	display: inline-block;
	/* [disabled]width: 48%; */
	margin: 5px;
	margin-top: 0px;
	/* [disabled]border: 1px solid black; */
}
#CopyRights {
	padding-left: 15px;
	width: 48%;
}
#CopyRightYear {
	width: auto;
}
#DesignedBy {
	text-align: right;
	padding-right: 15px;
	width: 48%;
}
