@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Mr+Bedfort|Niconne|Roboto+Slab|PT+Sans);

.wf-loading * {
    opacity: 0;
}
.wf-loading {
	background: url('https://cdn.tutsplus.com/webdesign/uploads/legacy/tuts/369_font_loader/ajax-loader.gif') no-repeat center center;
    height: 100%;
    overflow: hidden;        
}
.wf-active *, .wf-inactive * {
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
	opacity: 1;
}

@media print {
	a[href]:after {
		content: " [" attr(href) "] ";
	}
}

* {
	zoom: 1;
	padding: 0;
	margin: 0;
	font-family: "PT Sans", "Segoe UI", Verdana, sans-serif;
	font-size: 18px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
*:focus
{
    outline: none;
}
body {
	background-image: url(../images/MSN_BG.png);
	background-position: 100% 0%;
	background-repeat: no-repeat;
	/*background-size: 175vh;*/
	background-size: 85vw;
}
a {
	text-decoration: none;
	color: rgba(0,124,176,1.00);
	vertical-align: text-bottom;
}
a:visited:before {
	content:  "\2713 ";
}
img {
	border: 0;
}
span {
	vertical-align: middle;
}
.msncolor {
	color: rgba(255,79,0,1.00);
}
.grayscale {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
	filter: gray;
}
.grayscale:focus, .grayscale:hover {
	-webkit-filter: none;
	-moz-filter: none;
	filter: none;
}
.invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
header {
	height: 150px;
	text-align: left;
}
#Brand {
	margin-left: 150px;
	margin-top: 17px;
	text-align: center;
	display: inline-block;
}
#Name {
	font-family: 'Mr Bedfort', cursive;
	font-size: 50px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	margin-top: 10px;
}
#Motto {
	color: rgba(200,131,0,1.00);
	font-family: Niconne, cursive;
	font-size: 20px;
	display: inline-block;
	position: relative;
	top: -10px;
}
#Logo {
	margin-top: 12px;
	margin-right: 12px;
	margin-bottom: 5px;
	margin-left: 12px;
	top: 0px;
	left: 0px;
	-ms-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	float: left;
	position: absolute;
	display: inline-block;
}
#Logo:focus, #Logo:hover {
	border-radius: 67px;
	border-radius: 50%;
	-webkit-box-shadow: 1px 1px 2px 2px rgba(74,74,74,1.00);
	box-shadow: 1px 1px 2px 2px rgba(74,74,74,1.00);
}
#NavBar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	-webkit-box-shadow: 2px 2px 10px 3px rgba(179,111,13,0.35),0 -9px 0px 0px transparent,12px 0 15px -4px rgba(0, 0, 0, 0.4),-12px 0 15px -4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 9px 0px 0px transparent,0 -9px 0px 0px transparent,12px 0 15px -4px rgba(0, 0, 0, 0.4),-12px 0 15px -4px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 9px 0px 0px transparent,0 -9px 0px 0px transparent,12px 0 15px -4px rgba(0, 0, 0, 0.4),-12px 0 15px -4px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 10px 3px rgba(179,111,13,0.35),0 -9px 0px 0px transparent,12px 0 15px -4px rgba(0, 0, 0, 0.4),-12px 0 15px -4px rgba(0, 0, 0, 0.4);
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: rgba(143,89,11,1.00);
	float: right;
	z-index: 501;
	position: absolute;
	right: 125px;
	top: 57px;
}
#NavBar ul li.currentpage {
	color: rgba(238,246,9,1);
}
#NavBar > ul {
	text-align: center;
	list-style-type: none;
}
#NavBar > ul li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto Slab', Arial, sans-serif;
	font-size: 22px;
	font-variant: normal;
	padding-right: 10px;
	padding-left: 10px;
	display: inline-block;
	background-color: rgba(143,89,11,1.00);
	color: rgba(255,255,255,0.80);
}
#NavBar > ul > a:first-child li {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAALEQAACxEBf2RfkQAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTFH80I3AAABBUlEQVRIS82VTQrCMBCFWyzWiogLFUTcCv6hHkGvoODW+19Cp2VSHnHSTBKEZmeced+bn7ZZ1rOz+tAhT/k/fC1qcXMYcIfflxToHIQqBAnQYE7rHDJzAN6sqoIAkrgRaCGxAGyL0xWIv0Osdzm3dbBdqu0KEf9pl2+FVW1xtQLaJVayjB0WAkGjwPsZ0vlpHYQMjWKb6uscqZIp3T9YcM+B40DAGYzV5p6ueRwjAeq8QyKg8lUuASbS+8dqgakgCtDMxT4EGIHbJMDJbAgLroU2JgHsZKmN/QEYJ2VHf6UKdtrt23IgAjaOGeBGXjlm6FvTwvVJ1Nz7xM3/pUYMYyjxJYl/AVMe45N9HVjZAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}
#NavBar > ul li:hover, #NavBar > ul li:focus {
	background-color: rgba(0,0,0,0.25);
	color: rgba(255,255,255,1.00);
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
}
.submenu {
	display: none;
	position: absolute;
	padding-top: 10px;
}
#NavBar .submenu ul li {
	display: block;
	font-weight: normal;
}
#NavBar > ul li:focus .submenu, #NavBar > ul li:hover .submenu, .submenu:focus, .submenu:hover {
	display: block;
}
#NavBar .submenu ul {
	background-color: rgba(143,89,11,1.00);
	text-align: left;
	padding: 10px;
	padding-top: 3px;
}
#NavBar .submenu ul li:focus, #NavBar .submenu ul li:hover {
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
}
.tooltip:hover:after,.tooltip:focus:after {
	background: #111;
	background-color: rgba(0,0,0,0.70);
	color: #FFF;
	color: white;
	display: block;
	position: fixed;
	text-shadow: 0 1px 0 #000000;
	white-space: nowrap;
	z-index: 505;
	content: attr(data-href);
	clear: both;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 14px;
	top: 37px;
	right: 0px;
	font-weight: normal;
	text-align: center;
}
#ScrollableContent {
	padding-left: 75px;
	padding-right: 75px;
}
#PageContent {
	margin: 0 auto;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	text-align: left;
}
.contenttitle {
	font-size: 26px;
	color: rgba(59,76,96,1.00);
	margin-top: 45px;
	margin-bottom: 150px;
	margin-right: 33vw;
	text-align: center;
}
.contenttitle h1 {
	color: inherit;
	font-family: inherit;
	font-weight: bold;
	font-size: 32px;
}
.contenttitle h2 {
	font: inherit;
	font-size: 20px;
}
footer {
	margin: 2px;
	margin-top: 150px;
	color: rgba(0,0,0,1.00);
	padding: 30px;
	padding-top: 2px;
	border-top: 1px solid rgba(143,89,11,.25);
}
footer * {
	font-size: 16px;
}
footer section {
	border-top: 1px solid rgba(255,79,0,0.5);
	min-height: 150px;
}
.actionableitems {
	text-align: center;
	margin-bottom: 25px;
}
.actionableitems p {
	padding: 25px;
}
.actionableitems a {
	display: inline-block;
	border: 1px solid rgba(143,89,11,1.00);
	border-radius: 6px 6px;
	padding: 10px;
	margin-bottom: 5px;
	font-family: 'Roboto Slab', Arial, sans-serif;
	font-size: 20px;
	text-align: center;
	color: rgba(143,89,11,1.00);
	min-device-width: 170px;
	width: 30%;
}
.actionableitems a:hover, .actionableitems a:focus {
	background-color: rgba(143,89,11,1.00);
	color: rgba(255,255,255,1.00);
}
#LinkForms {
	text-align: center;
}
#LinkForms nav {
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-right: 20px;
}
#LinkForms ul {
	display: inline-block;
	min-device-width: 80px;
	list-style-type: none;
	vertical-align: top;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: left;
	margin-left: 25px;
	margin-right: 25px;
}
#LinkForms nav ul h2 {
	text-transform: uppercase;
}
#LinkForms ul li {
	color: rgba(143,89,11,1.00);
	margin-left: 10px;
}
#LinkForms ul li:focus, #LinkForms ul li:hover {
	color: rgba(0,0,0,1.00);
	background-color: rgba(238,246,9,0.7);
}
#FrmSubscribe {
	display: inline-block;
}
#Social {
	display: inline-block;
	vertical-align: top;
	border-left: none;
}
#Social ul {
	margin-left: 50px;
}
#Social h2 {
	margin-bottom: 20px;
}
#Social ul li {
	display: inline-block;
	border: 1px solid rgba(143,89,11,.25);
	border-radius: 5px;
	width: 43px;
	height: 43px;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
	color: transparent;
	background-repeat: no-repeat;
}
#Social ul li:focus, #Social ul li:hover {
	border-color: rgba(143,89,11,1);
	background-color: transparent;
}
#FB {
	background-image: url(../images/facebook-40.png);
}
#TW {
	background-image: url(../images/twitter-40.png);
}
#YT {
	background-image: url(../images/youtube-40.png);
}
#Disclaimer {
	min-height: 55px;
	height: 60px;
	max-height: 65px;
	padding-left: 45px;
	margin-top: 15px;
	padding-top: 10px;
}
#Disclaimer div {
	display: inline-block;
	margin: 5px;
	margin-top: 0px;
}
#CopyRights {
	padding-left: 15px;
	width: 48%;
}
#CopyRightYear {
	width: auto;
}
#DesignedBy {
	text-align: right;
	padding-right: 15px;
	width: 48%;
}

@media screen and (max-device-width: 360px) {
	#ScrollableContent {
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media screen and (max-device-width: 480px) {
	#Name {
		font-size: 24px;
	}
	#Motto {
		margin-left: 5px;
		font-size: 18px;
	}
	#ScrollableContent {
		padding-left: 25px;
		padding-right: 25px;
	}
	#Social ul li {
		display: block;
	}
	#Social ul li:after {
		content: attr(data-nwname);
		margin-left: 45px;
		color: rgba(0,0,0,1.00);
	}
}
@media only screen and (min-device-width: 481px) and (max-device-width: 769px) {
	#Name {
		font-size: 36px;
	}
}
@media screen and (max-device-width: 769px) {
	* {
		font-size: 14px;
	}
	body {
		background-image: none;
	}
	header {
		background-color: rgba(238,246,9,.5);
	}
	header:focus, header:hover {
		background-color: rgba(238,246,9,.7);
	}
	.tooltip:hover:after,.tooltip:focus:after {
		display: none;
	}
	.contenttitle {
		margin-top: 25px;
		margin-bottom: 40px;
	}
	.contenttitle h1 {
		font-size: 24px;
	}
	.contenttitle h2 {
		font-size: 18px;
	}
}
@media screen and (max-device-width: 1100px) {
	header {
		/* [disabled]min-height: 720px; */
		height: auto;
		padding-bottom: 160px;
	}
	#Brand {
		margin-left: 125px;
		text-align: left;
	}
	#Logo:focus, #Logo:hover {
		border-radius: 0px;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	#NavBar {
		position: static;
		text-align: center;
		width: 100%;
		margin: 55px 0px 15px 0px;
	}
	.submenu {
		padding-top: 3px;
	}
	.submenu:focus, .submenu:hover {
		display: block;
	}
	#ScrollableContent {
		padding-left: 35px;
		padding-right: 35px;
	}
	.contenttitle {
		margin-right: 0px;
	}
	footer {
		margin-top: 10px;
	}
	#LinkForms nav ul {
		display: block;
	}
	#Social {
		border-left: none;
	}
	#Disclaimer {
		padding-left: 0px;
	}
	#Disclaimer > div {
		display: block;
		text-align: center;
		width: 100%;
	}
}
@media screen and (min-device-width: 960px) {
	#Social {
		border-left: 2px solid rgba(255,79,0,0.5);
	}
}
@media only screen and (max-device-width: 480px) {
	#NavBar {
		padding: 2px;
	}
	#NavBar > ul li {
		font-size: 16px;
	}
	#NavBar > ul > a:nth-of-type(3):after {
		content: '\A';
		white-space: pre;
	}
}
@media only screen and (min-device-width: 481px) and (max-device-width: 769px) {
	#NavBar > ul li {
		font-size: 18px;
	}
}
@media screen and (min-device-width: 770px) and (max-device-width: 1100px) {
	body {
		background-image: url(../images/MSN_BG_w1100.png);
	}
	.tooltip:hover:after,.tooltip:focus:after {
		top: 145px;
		right: 5px;
		font-weight: normal;
		text-align: center;
	}
}

