@charset "utf-8";

#Carousel {
	text-align: center;
	vertical-align: middle;
	margin-top: 15px;
	margin-bottom: 15px;
}
.transition {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.strip {
	margin: 7px;
	margin-bottom: 30px;
	display: block;
	overflow-x: auto;
}
.thumb {
	display: inline-block;
	margin-top: 7px;
	margin-right: 3%;
	margin-left: 3%;
	margin-bottom: 7px;
	text-align: left;
	padding: 7px;
	border-radius: 7px;
	border: 1px solid rgba(143,89,11,.25);
}
.thumb:hover, .thumb:focus {
	border-color: rgba(143,89,11,1.0);
}
.albumname {
	font-size: 22px;
	border-top: 3px solid rgba(255,79,0,1.00);
	text-align: left;
	display: inline-block;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	font-family: 'Roboto Slab', Arial, sans-serif;
}
.albumname:focus, .albumname:hover{
	background-color: rgba(238,246,9,0.7);
}
.nail {
	width: 200px;
	height: 200px;
	overflow: hidden;
	background-image: url(../images/thumbs/Karuna.jpg);
	background-repeat: no-repeat;
	background-size: 110% 110%;
	vertical-align: middle;
	display: table;
	text-align: center;
}
.nail:focus, .nail:hover{
	background-color: white;
	background-size: 100% 100%;
}
.albumdesc {
	color: rgba(253,252,0,1.00);
	font-weight: normal;
	font-size: 18px;
	display: table-cell;
	opacity: 0;
	width: 100%;
	vertical-align: middle;
	height: 100%;
}
.nail:hover .albumdesc, .nail:focus .albumdesc {
	/* [disabled]display: table-cell; */
	opacity: 1;
	background-color: rgba(255,255,255,0.85);
	color: rgba(0,0,0,1.00);
}
