@charset "utf-8";

#Carousel {
	text-align: center;
	vertical-align: middle;
	margin-top: 15px;
	margin-bottom: 15px;
}
.transition {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.strip {
	margin: 7px;
	margin-bottom: 30px;
	display: block;
	overflow-x: auto;
}
.thumb {
	display: inline-block;
	margin-top: 7px;
	margin-right: 3%;
	margin-left: 3%;
	margin-bottom: 7px;
	text-align: left;
	padding: 3px;
	border: 1px solid rgba(66,153,255,.25);
}
.thumb:hover, .thumb:focus {
	border-color: rgba(66,153,255,.75);
}
.nail {
	width: 200px;
	height: 200px;
	overflow: hidden;
	background-image: url(../images/thumbs/Karuna.jpg);
	background-repeat: no-repeat;
	background-size: 110% 110%;
}
.nail:focus, .nail:hover{
	padding: 10px;
	background-color: white;
	background-size: 100% 100%;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.albumname {
	font-size: 22px;
	border-top: 3px solid rgba(255,79,0,1.00);
	text-align: left;
	display: inline-block;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	font-family: 'Roboto Slab', Arial, sans-serif;
}
.albumname:focus, .albumname:hover{
	background-color: rgba(238,246,9,0.7);
}
.albumdesc {
	color: rgba(253,252,0,1.00);
	font-weight: normal;
	font-size: 14px;
	display: inline-block;
	opacity: 0;
}
.nail:hover .albumdesc, .nail:focus .insidethumbnail{
	display: inline-block;
	opacity: 1;
}
