@charset "utf-8";

#ScrollableContent {
	background-image: url('./images/thumbs/LogoInBG.png');
	background-position: center center;
	background-repeat: no-repeat;
	/* [disabled]background-size: contain; */
}
#ContactMethods {
	text-align: center;
}
#ContactMethods * {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}
#ContactForm {
	display: none;
}
#ContactMethods *:target {
	opacity: 1;
	visibility: visible;
	position: static;
}
#ContactMethods *:target * {
	opacity: 1;
	visibility: visible;
	position: static;
}
#ContactForm:target {
	display: block;
}
#Location:target #GoogleMap {
	/* [disabled]display: block !important; */
}
#ContactDetails div {
	margin: 15px;
	display: inline-block;
	padding: 7px;
}