@charset "utf-8";

#TrainingLevels {
	counter-reset: section;
	border-collapse: separate;
	border-spacing: 5px;
}
.levelbox {
	width: 25%;
	margin: 15px;
	padding: 15px;
	display: table-cell;
	border: 1px solid rgba(143,89,11,.25);
	border-radius: 7px;
	vertical-align: top;
}
.levelbox:focus, .levelbox:hover {
	border-color: rgba(143,89,11,1.0);
}
#TrainingLevels h1 {
	text-align: center;
	font-size: 24px;
	margin-top: 7px;
	margin-bottom: 7px;
	font-family: 'Roboto Slab', Arial, sans-serif;
}
#TrainingLevels h2 {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	counter-increment: section;
	counter-reset: subsection;
}
#TrainingLevels h2:before {
	content: counter(section, upper-roman) ' - ';
}
#TrainingLevels p {
	margin: 10px;
}
#TrainingLevels p:before {
	counter-increment: subsection;
	/* [disabled]content: counter(section) "." counter(subsection) " - "; */
	content: "\00A0\00A0" counter(subsection) ".\00A0"; 
}
#TrainingLevels p:focus, #TrainingLevels p:hover {
	background-color: rgba(238,246,9,0.5);
}
#ClassAndBatch {
	border-collapse: separate;
	border-spacing: 15px;
	text-align: center;
}
#ClassAndBatch h2 {
	margin: 5px;
	padding: 5px;
	display: table-header-group;
}
#ClassAndBatch div {
	display: table-row;
	border: 1px solid rgba(143,89,11,.25);
	margin: 50px;
	text-align: left;
}
#ClassAndBatch div:nth-of-type(odd) {
	background-color: rgba(191,191,191,1.00);
}
#ClassAndBatch div:only-of-type(even) {
	background-color: rgba(255,255,255,1.00);
}
#ClassAndBatch h3 {
	display: table-cell;
	text-align: center;
}
#ClassAndBatch p {
	display: table-cell;
}
