@charset "utf-8";

#TrainingLevels {
	counter-reset: section;
	border-collapse: separate;
	border-spacing: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(255,79,0,1.00);
	text-align: center;
}
.levelbox {
	width: 23%;
	min-width: 220px;
	margin: 15px 0px 15px 0px;
	padding: 15px 0px 15px 0px;
	display: inline-block;
	border: 1px solid rgba(143,89,11,.25);
	border-radius: 7px;
	vertical-align: top;
}
.levelbox:focus, .levelbox:hover {
	border-color: rgba(143,89,11,1.0);
	background-color: rgba(238,246,9,0.3);
}
#TrainingLevels h1 {
	text-align: center;
	font-size: 24px;
	margin-top: 7px;
	margin-bottom: 7px;
	font-family: 'Roboto Slab', Arial, sans-serif;
}
#TrainingLevels h2 {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	counter-increment: section;
	counter-reset: subsection;
}
#TrainingLevels h4 {
	margin: 25px 20px 25px 20px;
	counter-increment: section;
	counter-reset: subsection;
	border-top: 1px solid rgba(143,89,11,.25);
	border-bottom: 1px solid rgba(143,89,11,.25);
}
#TrainingLevels h2:before {
	/* [disabled]content: counter(section, upper-roman) ' - '; */
}
#TrainingLevels p {
	margin: 10px;
}
#TrainingLevels p:before {
	counter-increment: subsection;
	/* [disabled]content: counter(section) "." counter(subsection) " - "; */
	content: "\00A0\00A0" counter(subsection) ".\00A0"; 
}
#TrainingLevels p:focus, #TrainingLevels p:hover {
	background-color: rgba(238,246,9,0.3);
}
#ClassAndBatch {
	margin-top: 10px;
	text-align: center;
}
#ClassAndBatch h1 {
	text-align: center;
	font-size: 24px;
	margin-top: 7px;
	margin-bottom: 7px;
	font-family: 'Roboto Slab', Arial, sans-serif;
}
.tabular {
	border: 1px solid rgba(143,89,11,.25);
	margin: 10px;
	padding: 5px;
	border-collapse: collapse;
	border-spacing: 15px;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
}
.tabular:focus, .tabular:hover {
	border-color: rgba(143,89,11,1.0);
}
.tabular caption {
	padding: 10px;
}
th {
	background-color: rgba(143,89,11,.25);
}
.trow:focus, .trow:hover {
	background-color: rgba(238,246,9,0.3);
}
td:first-child {
	font-size: 28px;
	color: rgba(65,105,225,1.00);
}
td:last-child {
	font-size: 20px;
}
.tcell {
	text-align: center;
	padding: 5px;
	padding-left: 25px;
	padding-right: 25px;
	border: 1px dotted rgba(143,89,11,.25);
}
.tcell p {
	text-align: left;
	padding: 3px;
	/* [disabled]border: 1px solid black; */
}
.day {
	width: 90px;
	display: inline-block;
	padding: 0;
}
#ClassAndBatch div p {
	display: inline-block;
}
#GuideLink {
	margin: 40px;
	text-align: center;
}
#GuideLink a {
	display: inline-block;
	border: 1px solid rgba(143,89,11,1.00);
	border-radius: 6px;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 5px;
	font-family: 'Roboto Slab', Arial, sans-serif;
	font-size: 20px;
	text-align: center;
	color: rgba(143,89,11,1.00);
	min-width: 170px;
}
#GuideLink a:focus, #GuideLink a:hover {
	background-color: rgba(143,89,11,1.00);
	color: rgba(255,255,255,1.00);
}
