@charset "utf-8";

#UpComingEvents {
	width: 50%;
	-webkit-box-shadow: 0px 0px 20px;
	box-shadow: 0px 0px 20px;
	background-color: rgba(200,131,0,0.50);
	text-align: left;
	padding: 7px;
	margin-top: 7px;
	margin-bottom: 7px;
}
#UpComingEvents * {
	-webkit-transition: all 3s ease;
	-moz-transition: all 3s ease;
	-ms-transition: all 3s ease;
	-o-transition: all 3s ease;
	transition: all 3s ease;
}
#UpComingEvents h1 {
	font-family: 'Roboto Slab', Arial, sans-serif;
	font-size: 22px;
	color: rgba(143,89,11,1.00);
}
#Ticker {
	/* [disabled]border: 1px solid black; */
	opacity: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	/* [disabled]display: inline-block; */
	background-color: rgba(255,255,255,1.00);
	text-align: left;
}
#Ticker * {
	font-weight: normal;
}
#Ticker div {
	overflow: hidden;
	height: auto;
}
#Ticker h2 {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
#Ticker .onat {
	text-align: center;
}
#Ticker h3 {
	margin-left: 10px;
	font-size: 16px;
}
#Ticker:focus, #Ticker:hover {
}
#UpComingEvents h1:before {
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAABecAAAXnAaTotfkAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAB8ElEQVRIS+2Uu0vDUBjFi+CkiLRCaUya+0pbig7SQdSt6iYIDiIq7g5uPkCnKk5ORRQcdLGIi6t/gw51kGqdpSA4iA9QK2I9t0kk8UHVtIsYuOQS7j2/75z73fh8/8+fTiAUCrUEg8GGmpoMh8OMMXqLkRfC31QTmBAaF4Kdg7SLccQ5OxFCVB8mhN4RjUZKlNKUdALQGcZp1WEQzSCyS7xLnNPFmsAgvAdAUdM0jth6DENI2JINQ6Q5z84syBMia7cPH/N+C1aOEaAs3OZ0XW/+cYPEYkoAkB0h+BWl6hvEFkIHdksYY2QZ6/bh+EJRlEBFkKwGsSRR2QpGllLyGItFS4SQic82w9Uk1hVNGC0YhtpaERKPxxuxsYDqsYkdYr7OORmUb3y7RxFdThGsmYlEDJwTGca8DWenVIRYC+ogOm9Wx4acmxDLliwAzjrld0Q1KyFYP/5d8Q/rIFKuFCJjbhjbRAEPgKZlMZ4gtrCMBQ6eITbqjotsWxfW9f3Xrsx46IFsBMb0EUdLpwDPexJ+dyZpgO7gbMMwOGLSyw7QhceIdrUqIPsMGAsnTWdszryYZAqQazga8ARKJBL1EF2zuq7X7ZBMy7OByxdVVf2eQPLPjJt9g4r7vricC3CU8QSRm6Ujzz9Fz1X8CzgSeAUpFYYRoVcz0AAAAABJRU5ErkJggg==') '    ';
}