@charset "utf-8";

#BillBoard {
	margin-bottom: 50px;
	margin-top: 40px;
}
#UpComingEvents {
	min-width: 440px;
	width: 65%;
	min-height: 260px;
	-webkit-box-shadow: 0px 0px 20px;
	box-shadow: 0px 0px 20px;
	background-color: rgba(200,131,0,0.50);
	text-align: left;
	padding: 7px;
	margin-top: 7px;
	margin-bottom: 7px;
	margin-left: 5px;
	display: inline-block;
	border-radius: 10px;
	margin-right: 20px;
}
#UpComingEvents * {
	-webkit-transition: all 3s ease;
	-moz-transition: all 3s ease;
	-ms-transition: all 3s ease;
	-o-transition: all 3s ease;
	transition: all 3s ease;
}
#TickerControls {
	float: right;
}
#TickerControls *::-moz-selection, #TickerControls *::selection {
	background-color: rgba(255,255,255,0.00);
}
#PauseTicker {
	opacity: 0;
}
#PauseTicker + label {
	padding: 5px;
	margin: 5px;
	width: 32px;
	height: 32px;
	display: inline-block;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	-ms-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
	color: rgba(0,0,0,1.00);
	font-family: "Courier New", Courier, mono;
	font-weight: bold;
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid rgba(200,131,0,0.50);
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.50);
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.50);
	cursor: pointer;
}
#PauseTicker + label:focus, #PauseTicker + label:hover {
	background-color: rgba(143,89,11,0.50);
	color: rgba(255,255,255,1.00);
}
#PauseTicker + label:after {
	content: '||';
}
#PauseTicker:checked + label:after {
	content: '\25BA';
	text-align: center;
	margin-left: 5px;
	margin-top: 1px;
}
#PauseTicker:disabled + label {
	background-color: rgba(255,255,255,0.50);
	text-decoration: line-through;
	-webkit-box-shadow: inset 0px 0px 1px 4px rgba(65,65,65,0.50);
	box-shadow: inset 0px 0px 1px 4px rgba(65,65,65,0.50);
}
#PauseTicker:disabled + label:after {
	content: '';
}
#UpComingEvents h1 {
	font-family: 'Roboto Slab', Arial, sans-serif;
	font-size: 22px;
	color: rgba(143,89,11,1.00);
}
#Ticker {
	opacity: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
	min-height: 100px;
}
#Ticker * {
	font-weight: normal;
}
#Ticker p {
}
#Ticker div {
	overflow: hidden;
	height: auto;
}
#Ticker h2 {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
#Ticker .onat {
	text-align: center;
	margin-bottom: 10px;
}
#Ticker h3 {
	margin-left: 10px;
	font-size: 16px;
}
#UpComingEvents h1:before {
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAABecAAAXnAaTotfkAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAB8ElEQVRIS+2Uu0vDUBjFi+CkiLRCaUya+0pbig7SQdSt6iYIDiIq7g5uPkCnKk5ORRQcdLGIi6t/gw51kGqdpSA4iA9QK2I9t0kk8UHVtIsYuOQS7j2/75z73fh8/8+fTiAUCrUEg8GGmpoMh8OMMXqLkRfC31QTmBAaF4Kdg7SLccQ5OxFCVB8mhN4RjUZKlNKUdALQGcZp1WEQzSCyS7xLnNPFmsAgvAdAUdM0jth6DENI2JINQ6Q5z84syBMia7cPH/N+C1aOEaAs3OZ0XW/+cYPEYkoAkB0h+BWl6hvEFkIHdksYY2QZ6/bh+EJRlEBFkKwGsSRR2QpGllLyGItFS4SQic82w9Uk1hVNGC0YhtpaERKPxxuxsYDqsYkdYr7OORmUb3y7RxFdThGsmYlEDJwTGca8DWenVIRYC+ogOm9Wx4acmxDLliwAzjrld0Q1KyFYP/5d8Q/rIFKuFCJjbhjbRAEPgKZlMZ4gtrCMBQ6eITbqjotsWxfW9f3Xrsx46IFsBMb0EUdLpwDPexJ+dyZpgO7gbMMwOGLSyw7QhceIdrUqIPsMGAsnTWdszryYZAqQazga8ARKJBL1EF2zuq7X7ZBMy7OByxdVVf2eQPLPjJt9g4r7vricC3CU8QSRm6Ujzz9Fz1X8CzgSeAUpFYYRoVcz0AAAAABJRU5ErkJggg==') '    ';
}
.loadinganim {
	background-repeat: no-repeat;
	background-position: 50% 70%;
	background-image: url(../images/MSN_Loader.gif);
}
