@charset "utf-8";

#Videos {
	text-align: center;
	margin: 15px;
	padding: 15px;
	border-bottom: 1px solid rgba(255,79,0,1.00);
}
.vdogrp {
	margin: 30px;
	padding: 10px;
	border: 1px solid rgba(143,89,11,.25);
	border-radius: 7px;
}
.vdogrp:focus, .vdogrp:hover {
	border-color: rgba(143,89,11,1.0);
}
.sidebysidevdo {
	display: inline-block;
	vertical-align: top;
	width: 48%;
	min-width: 420px;
}
#Images {
	/* [disabled]border: 1px solid black; */
	min-width: 600px;
	width: 75%;
	margin: 0 auto;
}
#Images * {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
#Images h2 {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}
#Images .event {
	margin: 10px;
	margin-bottom: 30px;
	padding: 10px;
	border: 1px solid rgba(143,89,11,.25);
	border-radius: 7px;
}
#Images .event:focus, #Images .event:hover {
	border-color: rgba(143,89,11,1.0);
}
#Images .event h2 {
	margin-bottom: 5px;
}
#Images .event div {
	margin-top: 5px;
	margin-bottom: 10px;
}
#Images .event .thumb {
	width: 120px;
	height: 120px;
	display: inline-block;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 5px;
	opacity: 0.85;
	transform: translate3d(0, 0, 0);
	will-change: transform;
	border: 1px solid transparent;
}
#Images .event:focus .thumb, #Images .event:hover .thumb {
	opacity: 1;
}
#Images .event .thumb:nth-child(odd):focus, #Images .event .thumb:nth-child(odd):hover {
	transform: rotate(-3deg);
}
#Images .event .thumb:nth-child(even):focus, #Images .event .thumb:nth-child(even):hover {
	transform: rotate(3deg);
}
#FullScreen {
	background-color: rgba(0,0,0,0.80);
	position: fixed;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	z-index: 505;
	display: none;
	text-align: center;
}
#FSCloseBtn {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgba(255,255,255,0.5);
	vertical-align: middle;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 40px;
	height: 40px;
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
	opacity: 0.8;
}
#FSCloseBtn:focus, #FSCloseBtn:hover {
	border-color: rgba(255,255,255,1);
	-webkit-box-shadow: inset 0px 0px 1px 2px;
	box-shadow: inset 0px 0px 1px 2px;
	opacity: 1;
}
#FSImageControls {
	text-align: center;
	vertical-align: middle;
}
#Prev {
	background-image: url(../images/prev.png);
	background-repeat: no-repeat;
}
#Next {
	background-image: url(../images/next.png);
	background-repeat: no-repeat;
}
#FullScreen .singlerow {
	display: inline-block;
}
#FullScreen input[type="button"] {
	border-radius: 10px;
	height: 140px;
	width: 72px;
	background-color: transparent;
	border: none;
	border-radius: 5px;
	opacity: 0.6;
}
#FullScreen input[type="button"]:focus, #FullScreen input[type="button"]:hover {
	opacity: 1;
}
#FSShowCase {
	width: 70%;
	width: calc(99vw - 172px);
}
#FSContainer {
	display: inline-block;
	padding: 10px;
	margin: 5px;
	border: 1px solid black;
	border-radius: 20px;
	/* [disabled]background-color: rgba(0,0,0,0.50); */
}
.halved {
	opacity: 0.6;
	color: whitesmoke;
}
.halved:focus, .halved:hover {
	opacity: 1;
}
#FSImage {
	border: 3px solid whitesmoke;
	max-height: 800px;
	max-height: calc(100vh - 120px);
	text-align: center;
	margin: 0 auto;
	background-image: url(../images/MSN_Loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 510;
}
#FSTitle {
	/* [disabled]display: inline-block; */
	/* [disabled]margin: 10px; */
	text-align: center;
	/* [disabled]width: 90%; */
	font-size: 36px;
	font-family: 'Roboto Slab', Arial, sans-serif;
}
#FSCaption {
}

@media screen and (max-width: 767px) {
	.vdogrp .sidebysidevdo {
		min-width: 210px;
		display: block;
	}
	.vdogrp .sidebysidevdo div, .vdogrp .sidebysidevdo div img {
		width: 200px !important;
		height: 148px !important;
	}
	#Videos {
		margin-left: 0px;
		margin-right: 0px;
		padding: 0px;
	}
	#Images {
    	min-width: 250px;
	}
	#FullScreen input[type="button"] {
		border-radius: 10px;
		height: 70px;
		width: 36px;
		background-size: contain;
	}
	#FSTitle {
		font-size: 22px;
	}
	#FSShowCase, #FSContainer, #FSImage {
    	max-height: calc(100vmin - 160px);
		max-width: calc(90vmin - 100px)
	}
}