@charset "utf-8";

#Gallery {
	border: 1px solid black;
	width: 50%;
	display: inline-block;
	min-width: 600px;
}
#Gallery * {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
#Gallery .event {
	/* [disabled]height: 110px; */
	/* [disabled]width: 500px; */
	width: 82%;
	width: calc(((90% / 80) * 80) + ((90% / 80) * 4));
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
}
#Gallery .event h2 {
	margin-bottom: 5px;
}
#Gallery .event div {
	margin-top: 5px;
	margin-bottom: 10px;
}
#Gallery .event .thumb {
	width: 80px;
	height: 80px;
	display: inline-block;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 5px;
}
#Gallery .event .thumb:focus, #Gallery .event .thumb:hover {
	/* [disabled]-webkit-box-shadow: 0px 0px 1px 1px; */
	/* [disabled]box-shadow: 0px 0px 1px 1px; */
	/* [disabled]border: 1px solid rgba(255,79,0,1.00); */
	/* [disabled]margin-left: 3px; */
	/* [disabled]margin-right: 3px; */
	/* [disabled]zoom: 101%; */
}
#FullScreen {
	background-color: rgba(0,0,0,0.80);
	position: fixed;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	z-index: 505;
	display: none;
	text-align: center;
	border: 1px solid blue;
}
#FullScreen .singlerow {
	display: inline-block;
}
#FullScreen * {
	color: rgba(255,255,255,1.00);
	text-align: center;
}
#FullScreen input[type="button"] {
	padding: 10px;
	border: 1px solid rgba(143,89,11,1.00);
	border-radius: 10px;
	font-family: Impact, sans-serif;
	font-size: 28px;
	font-weight: bold;
	background-color: white;
	color: rgba(143,89,11,1.00);
	height: 100px;
}
#FullScreen input[type="button"]:focus, #FullScreen input[type="button"]:hover {
	background-color: rgba(143,89,11,1.00);
	color: rgba(255,255,255,1.00);
}
#FSTitle {
	display: inline-block;
	margin: 10px;
	text-decoration: underline;
	text-align: center;
	width: 90%;
	font-size: 48px;
}
#FSCloseBtn {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	float: right;
	border-radius: 5px;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
	color: rgba(255,79,0,1.00);
	position: absolute;
	top: 1px;
	right: 1px;
}
#FSCloseBtn:focus, #FSCloseBtn:hover {
	color: rgba(255,255,255,1.00);
}
#FSImageControls {
	text-align: center;
	vertical-align: middle;
}
#FSImageContainer {
}
#FSImage {
	border: 3px solid whitesmoke;
	max-height: 800px;
	max-height: calc(100vh - 120px);
	text-align: center;
	margin: 0 auto;
	background-image: url(../images/MSN_Loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
#Prev {
}
#Next {
}
