@charset "utf-8";

#AboutGuru {
	text-align: center;
}
#AboutGuru section {
	margin: 15px;
	display: inline-block;
	width: 75%;
	text-align: left;
}
q {
	vertical-align: top;
}
.paratitle {
	font-size: 24px;
}
.paracontent {
	margin: 15px 0px 15px 0px;
	/* [disabled]border: 1px solid black; */
}
/*#AboutGuru section div.paracontent:nth-of-type(odd) {
	margin-right: 25%;
}
#AboutGuru section div.paracontent:nth-of-type(even) {
	margin-left: 25%;
}*/
.lists {
	margin-left: 40px;
}
#BGVidContainer {
	z-index: -5;
	opacity: .1;
	width: 100%;
	position: fixed;
	top: 0px;
	bottom: 0px;
}
#BGVideo {
	width: 100%;
	height: 100%;
}