@charset "utf-8";

#AboutContent {
	text-align: center;
	/* [disabled]border: 1px solid black; */
}
#AboutContent div {
	margin: 15px;
	display: inline-block;
	width: 75%;
	text-align: left;
}
#AboutContent > div > q {
	vertical-align: text-bottom;
}
#ContactDetails {
	text-align: center;
	margin-top: 50px;
}
.inlineblock {
	display: inline-block;
}
#Management section {
	background-image: url(../images/thumbs/LogoInAboutBG.png);
	background-position: center center;
	background-repeat: no-repeat;
	/* [disabled]background-size: 35%; */
}
#AboutContent h1, #ContactDetails h1 {
	font-size: 24px;
	border-bottom: 1px solid rgba(255,79,0,0.5);
	text-align: left;
}
#ContactDetails article {
	width: 70%;
	margin: 0 auto;
}
#ContactDetails article h2 {
	font-size: 22px;
	margin: 15px 0px 15px 0px;
}
#ContactDetails article section h3 {
	font-size: 24px;
}
#Management {
}
#Management section {
	margin: 20px 0px 20px 0px;
	padding: 20px;
	border-radius: 30px;
	border: 1px solid rgba(143,89,11,.25);
}
#ContactDetails section:focus, #ContactDetails section:hover {
	border-color: rgba(143,89,11,1);
	background-color: rgba(238,246,9,0.3);
}
#Management section p {
	margin: 15px 0px 15px 0px;
}
#Management section:nth-of-type(1) {
	text-align: left;
}
#Management section:nth-of-type(2) {
	text-align: right;
}
#Management section div:nth-of-type(2) {
	text-align: justify;
}
#Management img {
	width: 125px;
	height: 125px;
	padding: 2px;
	border-radius: 50%;
	border: 1px solid rgba(143,89,11,.25);
}
#Management img:focus, #Management img:hover {
	border-radius: 5px;
}
#TheTeam h2 {
    padding-top: 25px;
}
#TheTeam section img {
	width: 90px;
	height: 90px;
	padding: 2px;
	border-radius: 5px;
	border: 1px solid rgba(143,89,11,.25);
}
#TheTeam > section {
	padding: 7px;
}
#TheTeam > section > div {
    display: inline-block;
}
#TheTeam > section > div > h4 {
    font-size: 20px;
}
#TheTeam > section > div > p {
    margin: 10px 0px 10px 0px;
}
#TheTeam > section > div:first-of-type {
    width: 25%;
}
#TheTeam > section > div:nth-of-type(2) {
    width: 70%;
    text-align: justify;
}
@media screen and (max-width: 769px) {
    #Management section {
        text-align: left;
    }
    #Management section .inlineblock {
        display: block;
    }
    #Management section div:nth-of-type(2) {
	    text-align: left;
    }
    #TheTeam > section > div {
        display: block;
    }
    #TheTeam > section > div:first-of-type {
        width: 85%;
    }
    #TheTeam > section > div:nth-of-type(2) {
        width: 85%;
        text-align: left;
    }
}
