@charset "utf-8";

#ContactMethods {
	text-align: center;
}
#ContactMethods > div {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}
#ContactMethods *:target {
	opacity: 1;
	visibility: visible;
	position: static;
}
#ContactForm {
	display: none;
}
#ContactForm:target {
	display: block;
}
#Location:target #GoogleMap {
}
#ContactMethods div > h3 {
	margin-bottom: 30px;
	font-size: 24px;
}
#ContactDetails div {
	margin: 15px;
	display: inline-block;
	padding: 7px;
}
.addrwrapper {
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}
#Address {
	min-width: 320px;
}
#Address h4 {
	margin-bottom: 30px;
}
#OnMap {
	min-width: 710px;
}
#AltEmbedMap, #AltEmbedForm {
	display: none;
}
#BackToTop {
	position: absolute;
	right: 20px;
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid rgba(143,89,11,1);
	background-color: rgba(143,89,11,1);
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
}
#BackToTop a {
	font-size: 24px;
	color: rgba(255,255,255,1.00);
}
#BackToTop span {
	display: none;
	position: relative;
	top: 15px;
	right: 28px;
	width: 95px;
}
#BackToTop:focus, #BackToTop:hover {
	background-color: rgba(255,255,255,1.00);
}
#BackToTop:focus span, #BackToTop:hover span {
	display: block;
}
#BackToTop:focus a, #BackToTop:hover a {
	color: rgba(143,89,11,1);
}

@media only screen and (max-width: 769px) {
	#ContactMethodsIndex {
		display: none;
	}
	#ContactMethods > div {
		opacity: 1;
		visibility: visible;
		position: static;
	}
	#ContactMethods div > h3 {
		margin-top: 25px;
		text-decoration: underline;
	}
	#ContactDetails > div {
		display: block;
		border-left: none !important;
	}
	#Address {
		min-width: 250px;
		text-align: left;
	}
	#ContactForm {
		display: block;
	}
	#OnMap, #ContactForm iframe {
		display: none;
	}
	#AltEmbedMap, #AltEmbedForm {
		display: block;
	}
}
@media screen and (max-width: 1100px) {
	#BackToTop {
		display: block;
		position: relative;
		left: 47%;
		text-align: center;
		margin: 25px 0px 35px 0px;
	}
}