@charset "utf-8";

#AboutGuru {
	text-align: center;
}
#AboutGuru section {
	margin: 15px;
	display: inline-block;
	text-align: left;
}
q {
	vertical-align: top;
}
.paratitle {
	font-size: 24px;
	margin-top: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid rgba(255,79,0,0.5);
	text-align: left;
}
.paracontent {
	width: 93%;
	margin: 15px;
	padding-left: 20px;
	/* [disabled]border: 1px solid black; */
}
.sidebyside {
	display: inline-block;
}
.poseimg {
	 border: 1px solid rgba(143,89,11,.25);
	 border-radius: 15px;
	 padding: 3px;
}
.poseimg:focus, .poseimg:hover {
	border-color: rgba(143,89,11,1);
}
/*#AboutGuru section div.paracontent:nth-of-type(odd) {
	margin-right: 25%;
}
#AboutGuru section div.paracontent:nth-of-type(even) {
	margin-left: 25%;
}*/
.lists {
	margin-left: 40px;
}
#Performances ul li {
	margin-top: 3px;
}
#Performances ul li:focus, #Performances ul li:hover {
	background-color: rgba(238,246,9,0.3);
	margin-top: 6px;
}
#BGVidContainer {
	/* [disabled]width: 100%; */
	/* [disabled]position: fixed; */
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
#BGVideo {
	z-index: -5;
	opacity: .1;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -5;
}