@import url(https://fonts.googleapis.com/css?family=Montserrat|Abel|Quicksand|Courgette);

* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Quicksand', Verdana, sans-serif;
}
:focus {
	outline: none;
}
body {
	background: rgba(255,255,255,1) url("../images/TechieTreeOnlyBranch.png") no-repeat left top;
    background-size:67%;
    font-size:  18px;
}
a {
	text-decoration: none;
	font: inherit;
	color: inherit;
}
a:hover, a:focus {
	color: rgba(2,178,213,1);
}
q:hover, q:focus {
    font-weight: bold;
    border-bottom: 1px dotted;
}
ul {
    padding-left: 50px;
}
.debug {
	/* [disabled]border: 1px solid black; */
	/* [disabled]padding: 1px; */
	/* [disabled]margin: 1px; */
}
.inlineBlock {
	display: inline-block;
}
.transition {
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.wfMontserRat {
	font-family: 'Montserrat', sans-serif;
}
.wfCourgette {
	font-family: 'Courgette', cursive;
}
.leftIndent {
    margin-left: 20px;
}
.centerText {
    text-align: center;
}
.fs16px {
    font-size: 16px;
}
.fs20px {
    font-size: 20px;
}
.fs24px {
    font-size: 24px;
}
.alignJustify{
    text-align: justify;
}
.borderBottom{
    border-bottom: 2px solid rgba(2,178,213,1);
    padding-bottom: 16px;
}
.equalPeers {
    min-height:  10px;
   flex-grow: 1;
   -webkit-flex: 1 0 0;
   -ms-flex: 1 0 0;
   flex: 1 0 0;
   max-width: 35%;
   max-width: calc((99vw - 300px) / 2);
}
.circled {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    vertical-align: middle;
    text-align: center;
}
.blueBorderFx {
	border: 1px solid rgba(2,178,213,0.65);
}
.blueBorderFx:focus, .blueBorderFx:hover {
	border-color: rgba(2,178,213,1);
}
.invertBorderFx {
	border: 1px solid rgba(2,178,213,1);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}
.invertBorderFx:focus, .invertBorderFx:hover {
    border-style: dotted;
    background-color: rgba(2,178,213,0.4);
}
.invertBorderFx > h3, .invertBorderFx > h3 {
    /*text-decoration: underline;*/
    border-bottom: 1px solid rgba(2,178,213,0.4);
}
.invertBorderFx:focus > h3, .invertBorderFx:hover > h3 {
    /*text-decoration: underline;*/
    border-bottom: 1px dotted black;
}
.currentPage {
    color: rgba(2,178,213,1);
	border-top: 2px solid;
	border-bottom: 2px solid;
}
#FixedTop {
	padding-top: 5px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
    z-index: 100;
	background-color: rgba(255,255,255,.85);
	/* [disabled]border-bottom: 1px solid; */
	/* [disabled]-webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.4); */
	/* [disabled]box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.4); */
}
#FixedTop:focus, #FixedTop:hover {
	background-color: rgba(255,255,255,1);
}
#Logo {
	float: left;
	margin-left: 100px;
	position: relative;
	z-index: 5;
	padding: 7px;
}
#Name {
	border-bottom: 2px solid black;
	font-size: 48px;
}
.Lavnok {
	font-family: 'Abel', sans-serif;
}
.colLavnok {
	color: rgba(0,153,181,1);
}
#TagLine {
	font-size: 24px;
	font-weight: normal;
}
.motto {
	font-family: 'Abel', sans-serif;
}
.colThemeBlue {
    color: rgba(2,178,213,1);
}
#NavBar {
	margin: 15px 15px 0px 0px;
	position: fixed;
	right: 10px;
	top: 15px;
	font-size: 20px;
}
#NavBar a {
	padding: 4px 7px 4px 7px;
}
#NavBar a:focus, #NavBar a:hover {
	border-top: 2px solid;
	border-bottom: 2px solid;
}
#ScrollableContent {
    margin-top: 20%;
    background: url("../images/TechieTreeBark.png") repeat-y;
    background-size: 20%;
}
.flexContainer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/* [disabled]flex-wrap: wrap; */
	/* [disabled]-webkit-flex-direction: row; */
	/* [disabled]flex-direction: row; */
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	min-height: 80vh;
	min-height: calc(100vh - 140px);  
}
.panel {
   padding: 15px;
   margin: 5px;
   margin-top: 140px;
}
.left {
   -webkit-flex: 1 0 0;
   flex: 1 0 0;
   flex-grow: 1;
   min-width: 150px;
   max-width: 200px;
   font-size:  14px;
}
.right {
   -webkit-flex: 4 0 0;
   flex: 4 0 0;
   flex-grow: 4;
}
.branch{
    background: url("../images/BranchOnly.png") no-repeat;
    width: auto;
    height: auto;
}
.downArrow {
    display: inline-block;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}
.callOutUp {
    position: relative;
    left: -10px;
    top: 2px;
    height: 0;
    width: 0;
    border-bottom: 10px solid rgba(218, 249, 255,1);
    border-left: 10px dotted transparent;
    border-right: 10px dotted transparent;
    margin-left: 20px;
    z-index: 11;
}
.fluffySays {
    background-color: rgba(218, 249, 255,1);
    border: 1px solid rgba(255,255,255,1);
    position: relative;
    top: -1px;
    z-index: 9;
    width: auto;
    padding: 4px;
}
#Home {
}
.contentSection {
    margin: 15px 0px 15px 0px;
}
.innerTitle {
    margin-bottom: 10px;
}
.innerExplanation {
    margin-left: 20px;
}
#Dynamic {
	list-style-type: none;
    overflow-wrap: break-word;
}
#Dynamic > li {
    margin: 10px 0px 10px 0px;
	padding: 5px;
	border-radius: 10px;
}
#Dynamic a {
    color: rgba(2,178,213,1);
}
#MyTweets {
}
#MyTweets .tweet {
    margin-left: 20px;
}
#MyTweets .timePosted {
	text-align: right;
}
#MyTweets .interact a {
	margin-right: 15px;
}
#About {
    text-align: justify;
    padding: 20px;
}
#NamesAndFaces {
    text-align: center;
    margin-left: -20px;
}
#NamesAndFaces > div {
    margin: 25px;
    padding: 15px;
    width: 20%;
    border-radius: 10px;
    border: 1px solid black;
}
#NamesAndFaces > div > img {
    border-radius: 50%;
    border: 1px solid black;
}
#NamesAndFaces > div > img:focus, #NamesAndFaces > div > img:hover {
    border-radius: 5px;
}
#Work {
}
#Work > section > article > section > section {
    min-height: 210px;
}
#Work > section > article > section > section > h3 {
    margin-bottom: 15px;
}
#Work h3.innerTitle {
    margin: 25px 5px 10px 5px;
}
#Work ul.innerExplanation {
    list-style-type: none;
    margin: 10px 5px 10px 5px;
}
#Work ul.innerExplanation > li {
    margin: 5px 0px 5px 0px;
}
#Contact {
}
#AllFormFields {
    border: 0;
}
#Contact label[data-reqfld="true"]:after {
    content: '* ';
    color: rgba(255,0,0,1);
    font-size: 24px;
}
#Contact .innerExplanation {
    margin-bottom: 30px;
}
.field {
    margin: 10px 35px 10px 35px;
}
.field > div {
    margin: 10px 0px 0px 15px;
}
.field input[type="text"], .field input[type="email"], .field input[type="tel"], #txaDesc {
    font-size: 16px;
    min-width: 540px;
}
.field input[type="checkbox"], .field input[type="radio"] {
    display: none;
}
.field input[type="checkbox"] + label, .field input[type="radio"] + label {
    margin-left: 10px;
    margin: 8px;
    padding: 3px;
    box-shadow: none;
    cursor: pointer;
}
.field input[type="checkbox"]:checked + label, .field input[type="radio"]:checked + label {
    box-shadow: 0px 0px 10px rgba(2,70,178,1);
}
.field input[type="checkbox"]:checked + label:before, .field input[type="radio"]:checked + label:before {
    content: '\2713  ';
}
#btnSubmit {
    background-color: rgba(255,255,255,1);
    color: rgba(2,178,213,1);
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid;
    box-shadow: 0px 0px 15px 0px rgba(136,136,136,1);
}
#btnSubmit:focus, #btnSubmit:hover {
    background-color: rgba(2,178,213,1);
    color: rgba(255,255,255,1);
}
#btnSubmit:active {
    box-shadow: none;
}
#btnSubmit:disabled {
	background-color: rgba(2,178,213,0.65);
	color: rgba(255,255,255,0.65);
}
#btnSubmit:disabled:hover, #btnSubmit:disabled:focus, #btnSubmit:disabled:active {
	background-color: rgba(2,178,213,0.25);
	color: rgba(255,255,255,0.25);
	box-shadow: none;
}
#Response {
    display: none;
}
#FlowingBottom{
    background: url("../images/TechieTreeLand.png") no-repeat;
    background-size: 20%;
}
.footerContent{
    padding-top: 30px;
}